.DS_Store
web/node_modules/
/dist/
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
./oncall.linux
./oncall.mac
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
./vendor
*.gz
etcd/single/files